@use "./../base/variables" as v;
@use "./../base/mixins" as m;

.about{
    background-color: v.$color-fondo;
    padding-top: 2.5rem;

    h2{
        margin-top: 0;
    }

    .about-contenido{
        display: grid;
        grid-template-rows: 20rem 1fr;
        padding-bottom: 1.5rem;
        
        @include m.tablet{
            grid-template-columns: 1fr 2fr;
            grid-template-rows: inherit;
            padding-bottom: 2.5rem;
        }

        .about-foto{
            height: 100%;
            text-align: center;
            
            img{
                border-radius: 3rem;
                height: 100%;
                
                @include m.tablet{
                    border-radius: 2rem;
                    height: 27rem;
                }
            }
        }
    
        .about-info{
            text-align: justify;
            font-size: 2rem;
            line-height: 1.5;
            padding: 1rem 2rem 0;

            @include m.tablet{
                padding: 0;
            }
        }
    }
}
