@use "./../base/mixins" as m;
@use "./../base/variables" as v;

.contacto-fondo{
    // background-color: v.$fondo-secundario;
    padding-bottom: 2.5rem;
}

.contacto{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    
    @include m.tablet{
        grid-template-columns: 2fr 1fr;
        grid-template-rows: inherit;
    }

    .contacto-cv{
        font-size: 2rem;
        text-align: center;
    }

    .menu-redes{
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 3rem;
        font-size: 4rem;
        
        a{
            color: v.$fondo-secundario;
            transition: color .3s ease-in-out;
            
            &:hover{
                color: v.$fondo-secundario-hover;
            }
        }
    }
}

.btn-cv{
    display: flex;
    justify-content: center;

    a{
        background-color: v.$fondo-secundario;
        border-radius: 2rem;
        color: v.$color-texto;
        font-size: 2rem;
        font-weight: 700;
        margin-top: 2rem;
        padding: 1rem 3rem;
        transition: background-color .3s ease-in-out;

        &:hover{
            background-color: v.$fondo-secundario-hover;
        }
    }
}